:root {
  --sider-base: 50px;
  --sider-sub: 200px;
  --sider: calc(var(--sider-base) + var(--sider-sub));
  --sider-border: 1px solid #282828;
  --bg-body: #191919;
  --bg-cmp: #181818;
  --border: 1px solid #333;
  --cet-header-h: 31px;
}

body {
  margin: 0;
  padding-top: 40px;
  height: 100%;
  background-color: var(--bg-body) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.f-c {
  display: flex;
  align-items: center;
}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal {
  position: absolute;
  background-color: #181818;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 25px;
  background-color: #555;
  -webkit-border-radius: 4px;
  outline-offset: -2px;
}
::-webkit-scrollbar-thumb:hover {
  height: 25px;
  background-color: #555;
  -webkit-border-radius: 4px;
}
